.heatmap-container {
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: var(--body-background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.heatmap-table-wrapper {
  overflow-x: auto;
}

.heatmap-table-wrapper::-webkit-scrollbar {
  height: 12px;
}

.heatmap-table-wrapper::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.heatmap-table-wrapper::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 6px;
  filter: brightness(0.8);
}

.heatmap-table-wrapper::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

.heatmap-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.heatmap-table th,
.heatmap-table td {
  border: 1px solid var(--grey);
  text-align: center;
  width: 100px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.heatmap-table th {
  background-color: var(--darker);
  color: var(--heading-color);
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  position: relative;
}

.heatmap-table th:hover {
  overflow: visible;
  position: relative;
  z-index: 20;
  color: var(--weird);
  background: var(--darkest);
}

.heatmap-table th:hover span {
  overflow: visible;
  position: relative;
  z-index: 20;
  height: 40px;
  color: var(--weird);
  background: var(--darkest);
}

.sticky-node {
  position: sticky;
  left: 0;
  background-color: var(--dark);
  color: var(--heading-color);
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.sticky-node:hover {
  overflow: visible;
  z-index: 20;
  color: var(--weird);
  background: var(--darkest);
}

.sticky-node:hover span {
  position: sticky;
  left: 0;
  z-index: 20;
  height: 40px;
  color: var(--weird);
  background: var(--darkest);
}

.heatmap-table td:hover {
  transform: scale(1.05);
  color: var(--weird);
  z-index: 2;
}

.tooltip {
  position: fixed;
  background-color: var(--darkest);
  color: var(--lighter);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--grey);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 10;
  transition: opacity 0.3s ease, transform 0.2s ease;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filters select {
  padding: 5px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  font-size: 14px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  outline: none;
}

.filters select:hover {
  background-color: var(--button-hover-background);
}

.filters option {
  background-color: var(--darker);
  color: var(--text-color);
}
